body{
    margin:0;
    font-family: Arial;
}

/* Navbar */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:red;
    padding:10px 40px;
}

.logo{
    color:white;
    font-size:22px;
    font-weight:bold;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin:0 15px;
    color:white;
    cursor:pointer;
}

/* Banner */

.banner{
    background:#eee;
    text-align:center;
    padding:60px;
}

/* Movies */

.movies{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:40px;
}

.movie-card{
    border:1px solid #ccc;
    padding:10px;
    text-align:center;
}

.movie-card img{
    width:200px;
}

button{
    background:red;
    color:white;
    border:none;
    padding:8px 15px;
}